@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,100&display=swap');

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #990033;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #660033;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {

    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
.footer {
    background: #3d0909;
    padding-top: 30px;
}

.footer .footer-logo .navbar-brand {
    color: #fff;
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.footer .footer-logo p {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
}

.footer .footer-logo {
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 200;
}

.footer .list-menu>h4 {
    color: #fff;
    padding-bottom: 3px;
}

.footer .list-menu ul li a {
    color: #fff;
    font-size: 12px;
    font-weight: 200;

}

.footer .copyrights {
    background: #3d0909;
    color: #fff;
    text-align: left;
    padding: 8px;
}

.footer .copyrights p,
.footer .copyrights .credits {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0;
    color: #fff;
}

.footer .copyrights p a,
.footer .copyrights .credits a {
    letter-spacing: 0;
    color: #fff;
}

.footer .social-links {
    padding-top: 10px;
}

.footer .social-links a {
    font-size: 18px;
    display: inline-block;

    color: #fff;
    line-height: 1;

    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}


.owl-carousel owl-theme .item {
    margin: 3px;
}

.owl-carousel owl-theme .item img {
    display: block;
    width: 100%;
    height: auto;
}